style
{HOVER OVER IMAGE}
.ab:hover {
    position:left;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
.ab:hover {
    position:right;
    top:-25px;
    left:-35px;
    width:1000px;
    height:auto;
    display:block;
    z-index:999;
}
