#content{
  background-color: #b19cd9;
  img {float: left; border-width: 1em; border-style: groove; border-color: #000000;}
  img { float: left; border-right-style: solid; border-right-color: #CCCCCC; border-bottom-style: solid; border-bottom-color: #999999; }
}
